.container{
    .title {
        cursor: default;
        text-transform: uppercase;
        display: inline-block;
        user-select: none;
    }
    .list{
        display: grid;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

}